<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Toolbar'" [bar]="toolbarIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Card Toggle'" [bar]="cardToggleIcons"></app-icon-bar-legend>
</mat-card>

<!-- <mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Option Toggle'" [bar]="optionToggleIcons"></app-icon-bar-legend>
</mat-card> -->

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Tab Toggle'" [bar]="tabToggleIcons"></app-icon-bar-legend>
</mat-card>

<!-- <mat-card class="legend-card">
    <app-icon-bar-legend
      [caption]="'Component Toggle'"
      [bar]="componentToggleIcons"
    ></app-icon-bar-legend>
</mat-card> -->

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Command'" [bar]="commandIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Event'" [bar]="eventIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Editbar'" [bar]="editbarIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Text Area'" [bar]="textAreaIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
  <app-icon-bar-legend [caption]="'Pre Text'" [bar]="preTextIcons"></app-icon-bar-legend>
</mat-card>
