<mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Toolbar'" [bar]="toolbarIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Editbar'" [bar]="editbarIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Event'" [bar]="eventIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Text Area'" [bar]="textAreaIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Pre Text'" [bar]="preTextIcons"></app-icon-bar-legend>
</mat-card>

<mat-card class="legend-card">
    <app-icon-bar-legend [caption]="'Iconbar'" [bar]="iconbarIcons"></app-icon-bar-legend>
</mat-card>
