<div class="mat-typography mat-app-background">
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="toggleInput()">
      <mat-icon>touch_app</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToEvent()">
      <mat-icon>event</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToBib()">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToNone()">
      <mat-icon>texture</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleTabsVisible()">
      <mat-icon>help</mat-icon>
    </button>

    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <mat-card class="main-card">
    @if (ButtonPanelVisible) {
      <ng-container>
        <div class="button-line">
          <button mat-stroked-button color="primary" (click)="noop()">Blank</button>
          <button mat-stroked-button color="primary" (click)="toggleRows()">Rows</button>
          <button mat-stroked-button color="primary" (click)="initCurrent()">Next</button>
        </div>

        <div class="button-line">
          <button mat-raised-button (click)="raceDeltaBtnClick(-1)">R-</button>
          <button mat-raised-button (click)="reduceToEvent()">R {{ CurrentRace }}</button>
          <button mat-raised-button (click)="raceDeltaBtnClick(1)">R+</button>
        </div>

        <div class="button-line">
          <button mat-raised-button (click)="bow(-1)">Bib-</button>
          <button mat-raised-button (click)="reduceToBib()">{{ CurrentBib }}</button>
          <button mat-raised-button (click)="bow(1)">Bib+</button>
        </div>

        @if (ThrowoutsRowVisible) {
          <div class="button-line">
            <button mat-raised-button (click)="throwOut(-1)">T-</button>
            <button mat-raised-button (click)="reduceToEvent()">{{ Throwouts }}</button>
            <button mat-raised-button (click)="throwOut(+1)">T+</button>
          </div>
        }

        @if (ClearingRowVisible) {
          <div class="button-line">
            <button mat-raised-button color="accent" (click)="clearBtnClick()">Clear</button>
            <button mat-raised-button color="accent" (click)="clearRaceBtnClick()">Clear R</button>
            <button mat-raised-button color="accent" (click)="resetBtnClick()">Reset</button>
          </div>
        }

        @if (TableRowVisible) {
          <div class="button-line">
            <button mat-stroked-button (click)="ensureBib()">Bib</button>
            <button mat-stroked-button (click)="ensureEvent()">Event</button>
            <button mat-stroked-button (click)="noop()">Blank</button>
          </div>
        }

        <p></p>
      </ng-container>
    }

    @if (InputVisible) {
      <app-timing-buttons
        #timingTab
        (sendMsg)="sendMsg($event)"
        (updateAll)="handleUpdate($event)"
        (calc)="handleCalc($event)"
      >
      </app-timing-buttons>
    }

    @if (BibVisible) {
      <app-bib-tab #bibInfo [bib]="CurrentBib" (bibChanged)="onBibChanged(CurrentBib)">
      </app-bib-tab>
    }
    @if (EventVisible) {
      <app-event-tab #eventTab [EventName]="EventName"></app-event-tab>
    }
  </mat-card>

  <mat-card class="second-card">
    <button mat-icon-button (click)="toggleButtonPanel()">
      @if (!this.ButtonPanelVisible) {
        <mat-icon>dashboard</mat-icon>
      }
      @if (this.ButtonPanelVisible) {
        <mat-icon color="primary">dashboard</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="toggleExplorerLine()">
      @if (ExplorerLineVisible) {
        <mat-icon color="accent">maximize</mat-icon>
      }
      @if (!ExplorerLineVisible) {
        <mat-icon>maximize</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="toggleExplorerBar()">
      @if (ExplorerBarVisible) {
        <mat-icon color="primary">explore</mat-icon>
      }
      @if (!ExplorerBarVisible) {
        <mat-icon>explore</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="toggleCommandBar()">
      @if (CommandBarVisible) {
        <mat-icon color="accent">functions</mat-icon>
      }
      @if (!CommandBarVisible) {
        <mat-icon>functions</mat-icon>
      }
    </button>
  </mat-card>

  <mat-card class="second-card">
    <button mat-icon-button (click)="toggleLegend()">
      @if (LegendVisible) {
        <mat-icon color="primary">camera</mat-icon>
      }
      @if (!LegendVisible) {
        <mat-icon>camera</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="toggleJsonInfo()">
      @if (JsonInfoVisible) {
        <mat-icon color="primary">gesture</mat-icon>
      }
      @if (!JsonInfoVisible) {
        <mat-icon>gesture</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="toggleTextArea()">
      @if (TextAreaVisible) {
        <mat-icon color="primary">edit</mat-icon>
      }
      @if (!TextAreaVisible) {
        <mat-icon>edit</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="togglePreText()">
      @if (PreTextVisible) {
        <mat-icon color="primary">format_align_justify</mat-icon>
      }
      @if (!PreTextVisible) {
        <mat-icon>format_align_justify</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="toggleConfig()">
      @if (ConfigVisible) {
        <mat-icon color="primary">style</mat-icon>
      }
      @if (!ConfigVisible) {
        <mat-icon>style</mat-icon>
      }
    </button>
    <!-- <button mat-icon-button (click)="toggleComponents()">
            <mat-icon *ngIf="ComponentsVisible" color="primary">category</mat-icon>
            <mat-icon *ngIf="!ComponentsVisible">category</mat-icon>
        </button> -->
    <button mat-icon-button (click)="toggleSonstiges()">
      @if (SonstigesVisible) {
        <mat-icon color="primary">landscape</mat-icon>
      }
      @if (!SonstigesVisible) {
        <mat-icon>landscape</mat-icon>
      }
    </button>

    @if (LinkButtonVisible) {
      <button mat-icon-button (click)="toggleConn()">
        <mat-icon color="primary">link</mat-icon>
      </button>
    }
  </mat-card>

  @if (ExplorerLineVisible) {
    <mat-card class="second-card">
      <pre>--- <span class="color-accent">Race {{CurrentRace}}</span> --- Bib {{CurrentBib}} ---</pre>
    </mat-card>
  }

  @if (ExplorerBarVisible) {
    <mat-card class="second-card">
      <button mat-icon-button (click)="raceDeltaBtnClick(-1)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="findCurrentE()">
        <mat-icon [matBadge]="CurrentRace" color="primary">directions_run</mat-icon>
      </button>
      <button mat-icon-button (click)="raceDeltaBtnClick(1)">
        <mat-icon>chevron_right</mat-icon>
      </button>

      <button mat-icon-button (click)="bow(-1)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="findCurrentB()">
        <mat-icon [matBadge]="CurrentBib" color="primary">person</mat-icon>
      </button>
      <button mat-icon-button (click)="bow(1)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-card>
  }

  @if (CommandBarVisible) {
    <mat-card class="second-card">
      <button mat-icon-button (click)="autoLoad()">
        <mat-icon color="accent">replay</mat-icon>
      </button>
      <button mat-icon-button (click)="autoSave()">
        <mat-icon color="accent">save</mat-icon>
      </button>

      <button mat-icon-button (click)="enableRaceBtnClick()">
        <mat-icon color="accent">rowing</mat-icon>
      </button>
      <!-- <button mat-icon-button (click)="clearTimepointBtnClick()">
      <mat-icon color="accent">delete_outline</mat-icon>
    </button> -->
      <button mat-icon-button (click)="clearRaceBtnClick()">
        <mat-icon color="accent">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="clearBtnClick()">
        <mat-icon color="accent">delete_forever</mat-icon>
      </button>
      <!-- <button mat-icon-button color="accent" (click)="updateEvent()">
      <mat-icon color="accent">redo</mat-icon>
    </button> -->
    </mat-card>
  }

  @if (TabsVisible) {
    <mat-card class="second-card">
      <mat-tab-group>
        @if (HelpTextVisible) {
          <mat-tab label="Help">
            <app-help-text #helpTab></app-help-text>
          </mat-tab>
        }

        @if (LegendVisible) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">camera</mat-icon>
              Legend
            </ng-template>
            <app-icon-legend></app-icon-legend>
          </mat-tab>
        }

        @if (JsonInfoVisible) {
          <mat-tab label="Json">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">gesture</mat-icon>
              Json
            </ng-template>
            <app-json-info [race]="CurrentRace"></app-json-info>
          </mat-tab>
        }

        @if (TextAreaVisible) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">edit</mat-icon>
              Text Area
            </ng-template>
            <mat-card class="scroll-card">
              <mat-card-title>Text Area</mat-card-title>
              <mat-card-content>
                <button mat-icon-button (click)="memoClear()">
                  <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button (click)="memoAsset()">
                  <mat-icon>input</mat-icon>
                </button>
                <button mat-icon-button (click)="memoConvertedData()">
                  <mat-icon color="primary">input</mat-icon>
                </button>
                <button mat-icon-button (click)="memoText(false)">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="memoText(true)">
                  <mat-icon color="primary">save</mat-icon>
                </button>
                <button mat-icon-button (click)="memoRead()">
                  <mat-icon color="accent">send</mat-icon>
                </button>
                <button mat-icon-button (click)="memoCopy(memo)">
                  <mat-icon color="copy">share</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleTextAreaLegend()">
                  <mat-icon>camera</mat-icon>
                </button>

                <div class="memo-form">
                  <mat-form-field class="memo">
                    <textarea
                      #memo
                      matInput
                      spellcheck="false"
                      rows="16"
                      class="memo"
                      [(ngModel)]="MemoText"
                      [ngModelOptions]="{ standalone: true }"
                    ></textarea>
                  </mat-form-field>
                </div>

                @if (TextAreaLegendVisible) {
                  <app-icon-bar-legend
                    [caption]="'Text Area'"
                    [bar]="textAreaIcons"
                  ></app-icon-bar-legend>
                }
              </mat-card-content>
            </mat-card>
          </mat-tab>
        }

        @if (PreTextVisible) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">format_align_justify</mat-icon>
              Pre Text
            </ng-template>
            <mat-card class="scroll-card">
              <mat-card-title>Pre Text</mat-card-title>
              <mat-card-content>
                <button mat-icon-button (click)="clearTextOutput()">
                  <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button (click)="showConvertedData()">
                  <mat-icon>input</mat-icon>
                </button>
                <button mat-icon-button (click)="showQueue()">
                  <mat-icon color="accent">wb_sunny</mat-icon>
                </button>
                <button mat-icon-button (click)="getTxtBackup(false)">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="getTxtBackup(true)">
                  <mat-icon color="primary">save</mat-icon>
                </button>
                <button mat-icon-button (click)="copyCompact()">
                  <mat-icon color="primary">share</mat-icon>
                </button>
                <button mat-icon-button (click)="togglePreTextLegend()">
                  <mat-icon>camera</mat-icon>
                </button>

                <pre>{{ TestOutput }}</pre>

                @if (PreTextLegendVisible) {
                  <app-icon-bar-legend [caption]="'Pre Text'" [bar]="preTextIcons">
                  </app-icon-bar-legend>
                }
              </mat-card-content>
            </mat-card>
          </mat-tab>
        }

        @if (ConfigVisible) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">style</mat-icon>
              Config
            </ng-template>
            <button mat-icon-button (click)="reduceToParams()">
              <mat-icon color="primary">ac_unit</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToProps()">
              <mat-icon color="primary">settings</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToEvent()">
              <mat-icon>event</mat-icon>
            </button>
            @if (ParamsVisible) {
              <app-form-event-params-quick
                (paramsChanged)="onParamsChanged($event)"
              ></app-form-event-params-quick>
            }
            @if (PropsVisible) {
              <app-form-event-props-quick
                (propsChanged)="onPropsChanged($event)"
              ></app-form-event-props-quick>
            }
          </mat-tab>
        }

        @if (SonstigesVisible) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">landscape</mat-icon>
              Sonstiges
            </ng-template>
            <app-featured-event (dataAvailable)="onDataAvailable($event)"></app-featured-event>
            <!-- <app-featured-html (dataAvailable)="onDataAvailable($event)"></app-featured-html> -->
            <!-- <app-api [race]="CurrentRace" (dataAvailable)="onDataAvailable($event)"></app-api> -->
            @if (ConnectionBarVisible) {
              <app-connection-control #connBar></app-connection-control>
            }

            <mat-card class="scroll-card">
              <mat-card-title>Local Storage</mat-card-title>
              <mat-card-content>
                <div class="button-row">
                  <button mat-stroked-button color="primary" (click)="autoSave()">Save</button>
                  <button mat-stroked-button color="primary" (click)="autoLoad()">Load</button>
                  <button mat-stroked-button color="primary" (click)="resetBtnClick()">
                    Reset
                  </button>
                </div>
              </mat-card-content>
            </mat-card>

            <app-result-hash></app-result-hash>
            <app-result-upload [race]="CurrentRace"></app-result-upload>
          </mat-tab>
        }
      </mat-tab-group>
    </mat-card>
  }
</div>
