<div class="mat-typography mat-app-background">

    <mat-toolbar color="primary">
        <span class="fill-remaining-space"></span>

        <button mat-icon-button (click)="toggleInput()">
            <mat-icon>touch_app</mat-icon>
        </button>
        <button mat-icon-button (click)="reduceToEvent()">
            <mat-icon>event</mat-icon>
        </button>
        <button mat-icon-button (click)="reduceToBib()">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button (click)="reduceToNone()">
            <mat-icon>texture</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleHelpText()">
            <mat-icon>help</mat-icon>
        </button>

        <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="real-content">

        <ng-container id="icon-bar" *ngIf="IconBarVisible">
            <button mat-icon-button (click)="toggleLegend()">
                <mat-icon color="primary">camera</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToParams()">
                <mat-icon color="primary">ac_unit</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToProps()">
                <mat-icon color="primary">settings</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToPreText()">
                <mat-icon color="primary">format_align_justify</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToTextArea()">
                <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceToJsonInfo()">
                <mat-icon color="primary">gesture</mat-icon>
            </button>
        </ng-container>

        <ng-container>
            <h2>Panel</h2>

            <div class="button-line">
                <button mat-stroked-button color="primary" (click)="toggleIconBar()">Icons</button>
                <button mat-stroked-button color="primary" (click)="toggleRows()">Rows</button>
                <button mat-stroked-button color="primary" (click)="initCurrent()">Next</button>
            </div>

            <div class="button-line">
                <button mat-raised-button (click)="raceDeltaBtnClick(-1)">R-</button>
                <button mat-raised-button (click)="reduceToEvent()">R {{CurrentRace}}</button>
                <button mat-raised-button (click)="raceDeltaBtnClick(1)">R+</button>
            </div>

            <div class="button-line">
                <button mat-raised-button (click)="bow(-1)">Bib-</button>
                <button mat-raised-button (click)="reduceToBib()">{{CurrentBib}}</button>
                <button mat-raised-button (click)="bow(1)">Bib+</button>
            </div>

            <div class="button-line" *ngIf="ThrowoutsRowVisible">
                <button mat-raised-button (click)="throwOut(-1)">T-</button>
                <button mat-raised-button (click)="reduceToEntries()">{{Throwouts}}</button>
                <button mat-raised-button (click)="throwOut(+1)">T+</button>
            </div>

            <div class="button-line" *ngIf="ClearingRowVisible">
                <button mat-raised-button color="accent" (click)="clearBtnClick()">Clear</button>
                <button mat-raised-button color="accent" (click)="clearRaceBtnClick()">Clear R</button>
                <button mat-raised-button color="accent" (click)="resetBtnClick()">Reset</button>
            </div>

            <div class="button-line" *ngIf="TableRowVisible">
                <button mat-stroked-button (click)="ensureBib()">Bib</button>
                <button mat-stroked-button (click)="ensureEvent()">Event</button>
                <button mat-stroked-button (click)="noop()">Blank</button>
            </div>

            <p></p>
        </ng-container>

        <app-timing-buttons *ngIf=InputVisible #timingTab
            (aendMsg)="sendMsg($event)" 
            (updateAll)="handleUpdate($event)"
            (calc)="handleCalc($event)"></app-timing-buttons>

                <ng-container *ngIf=TextAreaVisible>
                    <h2>Text Area</h2>

                    <ng-container *ngIf="!BOManager.BigButtonRow">
                        <button mat-icon-button (click)="memoClear()">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-icon-button (click)="memoAsset()">
                            <mat-icon>input</mat-icon>
                        </button>
                        <button mat-icon-button (click)="memoConvertedData()">
                            <mat-icon color="primary">input</mat-icon>
                        </button>
                        <button mat-icon-button (click)="memoText(false)">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button mat-icon-button (click)="memoText(true)">
                            <mat-icon color="primary">save</mat-icon>
                        </button>
                        <button mat-icon-button (click)="memoRead()">
                            <mat-icon color="accent">send</mat-icon>
                        </button>
                        <button mat-icon-button (click)="memoCopy(memo)">
                            <mat-icon color="copy">share</mat-icon>
                        </button>
                        <button mat-icon-button (click)="toggleTextAreaLegend()">
                            <mat-icon>camera</mat-icon>
                        </button>
                    </ng-container>

                    <app-icon-bar-legend [caption]="'Pre Text'" [bar]="textAreaIcons" *ngIf="TextAreaLegendVisible"></app-icon-bar-legend>

                    <div class="memo-form">
                        <mat-form-field class="memo">
                            <textarea #memo matInput spellcheck="false" rows="16" class="memo" [(ngModel)]="MemoText"
                               [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>
                    </div>
                </ng-container>

        <ng-container *ngIf=PreTextVisible>
            <h2>Pre Text</h2>

            <ng-container>
                <button mat-icon-button (click)="clearTextOutput()">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button (click)="showConvertedData()">
                    <mat-icon>input</mat-icon>
                </button>
                <button mat-icon-button (click)="showQueue()">
                    <mat-icon color="accent">wb_sunny</mat-icon>
                </button>
                <button mat-icon-button (click)="getTxtBackup(false)">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="getTxtBackup(true)">
                    <mat-icon color="primary">save</mat-icon>
                </button>
                <button mat-icon-button (click)="copyCompact()">
                    <mat-icon color="primary">share</mat-icon>
                </button>
                <button mat-icon-button (click)="togglePreTextLegend()">
                    <mat-icon>camera</mat-icon>
                </button>
            </ng-container>

            <app-icon-bar-legend [caption]="'Pre Text'" [bar]="preTextIcons" *ngIf="PreTextLegendVisible"></app-icon-bar-legend>

            <pre>{{TestOutput}}</pre>
        </ng-container>

        <app-bib-tab *ngIf=BibVisible #bibInfo [bib]=CurrentBib (bibChanged)="onBibChanged($event)"></app-bib-tab>
        <app-event-tab *ngIf=EventVisible #eventTab [EventName]="EventName"></app-event-tab>

        <app-json-info *ngIf="JsonInfoVisible" [race]=CurrentRace></app-json-info>
        <app-icon-legend *ngIf=LegendVisible></app-icon-legend>

        <app-form-event-params-quick *ngIf="ParamsVisible" (paramsChanged)="onParamsChanged($event)"></app-form-event-params-quick>
        <app-form-event-props-quick *ngIf="PropsVisible" (propsChanged)="onPropsChanged($event)"></app-form-event-props-quick>

        <app-api [race]=CurrentRace (dataAvailable)="onDataAvailable($event)"></app-api>
        <app-connection-control *ngIf="ConnectionBarVisible" #connBar></app-connection-control>

        <p></p>

        <h2>Local Storage</h2>

        <div class="button-row">
            <button mat-stroked-button color="primary" (click)="autoSave()">Save</button>
            <button mat-stroked-button color="primary" (click)="autoLoad()">Load</button>
            <button mat-stroked-button color="primary" (click)="resetBtnClick()">Reset</button>
        </div>

        <p></p>

        <app-help-text *ngIf="HelpTextVisible" #helpTab></app-help-text>
        <app-featured-event (dataAvailable)="onDataAvailable($event)"></app-featured-event>

        <app-result-hash></app-result-hash>
        <app-result-upload [race]=CurrentRace></app-result-upload>
    </div>

</div>